body {
	background-color: lightblue;
}

img {
	height: 70px;
}

#debugging {
	width: 100%;
	height: 100%;
	margin-left: 1em;
	border: 1px solid black;
}

#grid {
	table-layout: fixed;
	margin-left: 1em;
}

#grid td{
	width: 24px;
	height: 24px;
	text-align: center;
	vertical-align:center;
	text-shadow: 2px 2px 4px #000000;
	font-size: 15px;
}

#ide-box {
	width: 600px;
	margin-left: 1em;
	border: 1px solid black;
	padding-bottom: 5px;
}

#ide-title {
	background-color: black;
	color: red;
	width: 600px;
}

#ide td {
	float: left;
	padding-left: 1em;
}

#ide-commands {
	padding-left: 1em;
}

#command-center {
	text-transform: uppercase;
}

#red{
	color: red;
}

#blue{
	color: blue;
}

.grass{
	background-color: #ffffe0;
}

.mountain {
	background-color: sienna;
}

.forest {
	background-color: green;
}

.HQred {
	background-color: #ff9945;
}

.HQblue{
	background-color: #add8e6;
}